/*Fix for https://github.com/Megabit/Blazorise/issues/2330#issuecomment-852072334*/
.b-bar-toggler-inline {
    height: 42px !important;
    padding: 0 !important;
    padding-right: 12px !important;
}

