UNPKG

bpmn-js/dist/assets/bpmn-font/css/bpmn.css

Version:

9.62 kB
CSS
View Raw
1 @font-face {
    2 font-family: 'bpmn';
    3 src: url('../font/bpmn.eot?26374340');
    4 src: url('../font/bpmn.eot?26374340#iefix') format('embedded-opentype'), 5 url('../font/bpmn.woff2?26374340') format('woff2'), 6 url('../font/bpmn.woff?26374340') format('woff'), 7 url('../font/bpmn.ttf?26374340') format('truetype'), 8 url('../font/bpmn.svg?26374340#bpmn') format('svg');
    9 font-weight: normal;
    10 font-style: normal;
    11
}

12 /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
13 /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
14 /*
15	@media screen and (-webkit-min-device-pixel-ratio:0) {
16	  @font-face {
17	    font-family: 'bpmn';
18	    src: url('../font/bpmn.svg?26374340#bpmn') format('svg');
19	  }
20	}
21	*/
22
23 [class^="bpmn-icon-"]:before, [class*=" bpmn-icon-"]:before {
    24 font-family: "bpmn";
    25 font-style: normal;
    26 font-weight: normal;
    27 speak: never;
    28 29 display: inline-block;
    30 text-decoration: inherit;
    31 width: 1em;
    32 /* margin-right: .2em; */
    33 text-align: center;
    34 /* opacity: .8; */
    35 36 /* For safety - reset parent styles, that can break glyph codes*/
    37 font-variant: normal;
    38 text-transform: none;
    39 40 /* fix buttons height, for twitter bootstrap */
    41 line-height: 1em;
    42 43 /* Animation center compensation - margins should be symmetric */
    44 /* remove if not needed */
    45 /* margin-left: .2em; */
    46 47 /* you can be more comfortable with increased icons size */
    48 /* font-size: 120%; */
    49 50 /* Font smoothing. That was taken from TWBS */
    51 -webkit-font-smoothing: antialiased;
    52 -moz-osx-font-smoothing: grayscale;
    53 54 /* Uncomment for 3D effect */
    55 /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    56
}

57
58 .bpmn-icon-screw-wrench:before {
    content: '\e800';
}
/* '' */
59 .bpmn-icon-trash:before {
    content: '\e801';
}
/* '' */
60 .bpmn-icon-conditional-flow:before {
    content: '\e802';
}
/* '' */
61 .bpmn-icon-default-flow:before {
    content: '\e803';
}
/* '' */
62 .bpmn-icon-gateway-parallel:before {
    content: '\e804';
}
/* '' */
63 .bpmn-icon-intermediate-event-catch-cancel:before {
    content: '\e805';
}
/* '' */
64 .bpmn-icon-intermediate-event-catch-non-interrupting-message:before {
    content: '\e806';
}
/* '' */
65 .bpmn-icon-start-event-compensation:before {
    content: '\e807';
}
/* '' */
66 .bpmn-icon-start-event-non-interrupting-parallel-multiple:before {
    content: '\e808';
}
/* '' */
67 .bpmn-icon-loop-marker:before {
    content: '\e809';
}
/* '' */
68 .bpmn-icon-parallel-mi-marker:before {
    content: '\e80a';
}
/* '' */
69 .bpmn-icon-start-event-non-interrupting-signal:before {
    content: '\e80b';
}
/* '' */
70 .bpmn-icon-intermediate-event-catch-non-interrupting-timer:before {
    content: '\e80c';
}
/* '' */
71 .bpmn-icon-intermediate-event-catch-parallel-multiple:before {
    content: '\e80d';
}
/* '' */
72 .bpmn-icon-intermediate-event-catch-compensation:before {
    content: '\e80e';
}
/* '' */
73 .bpmn-icon-gateway-xor:before {
    content: '\e80f';
}
/* '' */
74 .bpmn-icon-connection:before {
    content: '\e810';
}
/* '' */
75 .bpmn-icon-end-event-cancel:before {
    content: '\e811';
}
/* '' */
76 .bpmn-icon-intermediate-event-catch-condition:before {
    content: '\e812';
}
/* '' */
77 .bpmn-icon-intermediate-event-catch-non-interrupting-parallel-multiple:before {
    content: '\e813';
}
/* '' */
78 .bpmn-icon-start-event-condition:before {
    content: '\e814';
}
/* '' */
79 .bpmn-icon-start-event-non-interrupting-timer:before {
    content: '\e815';
}
/* '' */
80 .bpmn-icon-sequential-mi-marker:before {
    content: '\e816';
}
/* '' */
81 .bpmn-icon-user-task:before {
    content: '\e817';
}
/* '' */
82 .bpmn-icon-business-rule:before {
    content: '\e818';
}
/* '' */
83 .bpmn-icon-sub-process-marker:before {
    content: '\e819';
}
/* '' */
84 .bpmn-icon-start-event-parallel-multiple:before {
    content: '\e81a';
}
/* '' */
85 .bpmn-icon-start-event-error:before {
    content: '\e81b';
}
/* '' */
86 .bpmn-icon-intermediate-event-catch-signal:before {
    content: '\e81c';
}
/* '' */
87 .bpmn-icon-intermediate-event-catch-error:before {
    content: '\e81d';
}
/* '' */
88 .bpmn-icon-end-event-compensation:before {
    content: '\e81e';
}
/* '' */
89 .bpmn-icon-subprocess-collapsed:before {
    content: '\e81f';
}
/* '' */
90 .bpmn-icon-subprocess-expanded:before {
    content: '\e820';
}
/* '' */
91 .bpmn-icon-task:before {
    content: '\e821';
}
/* '' */
92 .bpmn-icon-end-event-error:before {
    content: '\e822';
}
/* '' */
93 .bpmn-icon-intermediate-event-catch-escalation:before {
    content: '\e823';
}
/* '' */
94 .bpmn-icon-intermediate-event-catch-timer:before {
    content: '\e824';
}
/* '' */
95 .bpmn-icon-start-event-escalation:before {
    content: '\e825';
}
/* '' */
96 .bpmn-icon-start-event-signal:before {
    content: '\e826';
}
/* '' */
97 .bpmn-icon-business-rule-task:before {
    content: '\e827';
}
/* '' */
98 .bpmn-icon-manual:before {
    content: '\e828';
}
/* '' */
99 .bpmn-icon-receive:before {
    content: '\e829';
}
/* '' */
100 .bpmn-icon-call-activity:before {
    content: '\e82a';
}
/* '' */
101 .bpmn-icon-start-event-timer:before {
    content: '\e82b';
}
/* '' */
102 .bpmn-icon-start-event-message:before {
    content: '\e82c';
}
/* '' */
103 .bpmn-icon-intermediate-event-none:before {
    content: '\e82d';
}
/* '' */
104 .bpmn-icon-intermediate-event-catch-link:before {
    content: '\e82e';
}
/* '' */
105 .bpmn-icon-end-event-escalation:before {
    content: '\e82f';
}
/* '' */
106 .bpmn-icon-text-annotation:before {
    content: '\e830';
}
/* '' */
107 .bpmn-icon-bpmn-io:before {
    content: '\e831';
}
/* '' */
108 .bpmn-icon-gateway-complex:before {
    content: '\e832';
}
/* '' */
109 .bpmn-icon-gateway-eventbased:before {
    content: '\e833';
}
/* '' */
110 .bpmn-icon-gateway-none:before {
    content: '\e834';
}
/* '' */
111 .bpmn-icon-gateway-or:before {
    content: '\e835';
}
/* '' */
112 .bpmn-icon-end-event-terminate:before {
    content: '\e836';
}
/* '' */
113 .bpmn-icon-end-event-signal:before {
    content: '\e837';
}
/* '' */
114 .bpmn-icon-end-event-none:before {
    content: '\e838';
}
/* '' */
115 .bpmn-icon-end-event-multiple:before {
    content: '\e839';
}
/* '' */
116 .bpmn-icon-end-event-message:before {
    content: '\e83a';
}
/* '' */
117 .bpmn-icon-end-event-link:before {
    content: '\e83b';
}
/* '' */
118 .bpmn-icon-intermediate-event-catch-message:before {
    content: '\e83c';
}
/* '' */
119 .bpmn-icon-intermediate-event-throw-compensation:before {
    content: '\e83d';
}
/* '' */
120 .bpmn-icon-start-event-multiple:before {
    content: '\e83e';
}
/* '' */
121 .bpmn-icon-script:before {
    content: '\e83f';
}
/* '' */
122 .bpmn-icon-manual-task:before {
    content: '\e840';
}
/* '' */
123 .bpmn-icon-send:before {
    content: '\e841';
}
/* '' */
124 .bpmn-icon-service:before {
    content: '\e842';
}
/* '' */
125 .bpmn-icon-receive-task:before {
    content: '\e843';
}
/* '' */
126 .bpmn-icon-user:before {
    content: '\e844';
}
/* '' */
127 .bpmn-icon-start-event-none:before {
    content: '\e845';
}
/* '' */
128 .bpmn-icon-intermediate-event-throw-escalation:before {
    content: '\e846';
}
/* '' */
129 .bpmn-icon-intermediate-event-catch-multiple:before {
    content: '\e847';
}
/* '' */
130 .bpmn-icon-intermediate-event-catch-non-interrupting-escalation:before {
    content: '\e848';
}
/* '' */
131 .bpmn-icon-intermediate-event-throw-link:before {
    content: '\e849';
}
/* '' */
132 .bpmn-icon-start-event-non-interrupting-condition:before {
    content: '\e84a';
}
/* '' */
133 .bpmn-icon-data-object:before {
    content: '\e84b';
}
/* '' */
134 .bpmn-icon-script-task:before {
    content: '\e84c';
}
/* '' */
135 .bpmn-icon-send-task:before {
    content: '\e84d';
}
/* '' */
136 .bpmn-icon-data-store:before {
    content: '\e84e';
}
/* '' */
137 .bpmn-icon-start-event-non-interrupting-escalation:before {
    content: '\e84f';
}
/* '' */
138 .bpmn-icon-intermediate-event-throw-message:before {
    content: '\e850';
}
/* '' */
139 .bpmn-icon-intermediate-event-catch-non-interrupting-multiple:before {
    content: '\e851';
}
/* '' */
140 .bpmn-icon-intermediate-event-catch-non-interrupting-signal:before {
    content: '\e852';
}
/* '' */
141 .bpmn-icon-intermediate-event-throw-multiple:before {
    content: '\e853';
}
/* '' */
142 .bpmn-icon-start-event-non-interrupting-message:before {
    content: '\e854';
}
/* '' */
143 .bpmn-icon-ad-hoc-marker:before {
    content: '\e855';
}
/* '' */
144 .bpmn-icon-service-task:before {
    content: '\e856';
}
/* '' */
145 .bpmn-icon-task-none:before {
    content: '\e857';
}
/* '' */
146 .bpmn-icon-compensation-marker:before {
    content: '\e858';
}
/* '' */
147 .bpmn-icon-start-event-non-interrupting-multiple:before {
    content: '\e859';
}
/* '' */
148 .bpmn-icon-intermediate-event-throw-signal:before {
    content: '\e85a';
}
/* '' */
149 .bpmn-icon-intermediate-event-catch-non-interrupting-condition:before {
    content: '\e85b';
}
/* '' */
150 .bpmn-icon-participant:before {
    content: '\e85c';
}
/* '' */
151 .bpmn-icon-event-subprocess-expanded:before {
    content: '\e85d';
}
/* '' */
152 .bpmn-icon-lane-insert-below:before {
    content: '\e85e';
}
/* '' */
153 .bpmn-icon-space-tool:before {
    content: '\e85f';
}
/* '' */
154 .bpmn-icon-connection-multi:before {
    content: '\e860';
}
/* '' */
155 .bpmn-icon-lane:before {
    content: '\e861';
}
/* '' */
156 .bpmn-icon-lasso-tool:before {
    content: '\e862';
}
/* '' */
157 .bpmn-icon-lane-insert-above:before {
    content: '\e863';
}
/* '' */
158 .bpmn-icon-lane-divide-three:before {
    content: '\e864';
}
/* '' */
159 .bpmn-icon-lane-divide-two:before {
    content: '\e865';
}
/* '' */
160 .bpmn-icon-data-input:before {
    content: '\e866';
}
/* '' */
161 .bpmn-icon-data-output:before {
    content: '\e867';
}
/* '' */
162 .bpmn-icon-hand-tool:before {
    content: '\e868';
}
/* '' */
163 .bpmn-icon-group:before {
    content: '\e869';
}
/* '' */
164 .bpmn-icon-transaction:before {
    content: '\e8c4';
}
/* '' */
\	No newline at end of file
Build: a7ebffa

© 2021 UNPKG
